html {
    scroll-padding-top: max(min(2.75vw, 44px), 22px);
}

@font-face {
    font-family: courier-prime-code;
    src: url('../fonts/Courier Prime Code.ttf');
}

@font-face {
    font-family: kaliber-square;
    src: url('../fonts/kalibers.ttf');
}

body {
    color: #fff;
    font-family: kaliber-square;
    font-size: max(min(2vw, 32px), 16px);
    margin: 0%;
    width: 100%;
    padding: 0%;
    overflow-x: hidden;
}

p {
    color: #fff;
    font-size: 1.75vw;
    font-family: courier-prime-code;
    margin: 0;
}

#web-background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, blue, magenta);
}

.gallery {
    margin: 0 max(min(2.5vw, 40px), 20px) max(min(2.5vw, 40px), 20px);
    display: flex;
    gap: max(min(1vw, 16px), 8px);
    padding: 0 max(min(1vw, 16px), 8px) max(min(2.5vw, 40px), 20px);
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.gallery>.gallery-item {
    flex: 0 0 auto;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    border-radius: max(min(1vw, 16px), 8px);
}

.gallery>.gallery-item>img {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    object-position: center;
}