html {
    scroll-padding-top: max(min(2.75vw, 44px), 22px);
}

@font-face {
    font-family: courier-prime-code;
    src: url('../fonts/Courier Prime Code.ttf');
}

body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(min(2vw, 32px), 16px);
    margin: 0%;
    width: 100%;
    padding: 0%;
    overflow-x: hidden;
}

p, a.plain {
    color: #fff;
    font-size: 0.9em;
    font-family: courier-prime-code, 'Courier New', Courier, monospace;
    margin: 0;
    text-decoration: none;
}

a.plain:hover{
    font-weight: bold;
}

h1,
h2 {
    color: #fff;
    font-weight: bold;
    margin: 0%;
}

h1 {
    text-align: center;
    font-size: max(min(6vw, 96px), 48px);
}

h2 {
    font-size: max(min(4vw, 64px), 32px);
}

h3 {
    margin: 0px;
    color: cyan;
    font-weight: bold;
    font-size: max(min(2vw, 32px), 16px);
    font-family: courier-prime-code, 'Courier New', Courier, monospace;
}

ul {
    font-family: courier-prime-code, 'Courier New', Courier, monospace;
    padding: 0px 10%;
}

ul>li {
    font-size: max(1.5vw, 16px);
    margin-bottom: max(min(2vw, 32px), 16px);
}

#web-background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, rgb(63,255,191), cyan, rgb(127, 127, 255), magenta);
}

#navigation-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-items: center;
    z-index: 1;
}

#navigation-menu>div {
    position: relative;
}

#navigation-menu>div>p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: max(min(2.5vw, 40px), 20px);
    padding: max(min(0.25vw, 4px), 2px) max(min(1vw, 16px), 8px) 0;
    color: rgba(0, 0, 0, 0);
}

#navigation-menu>div>a {
    font-weight: bold;
    float: left;
    position: absolute;
    bottom: -1%;
    left: -1%;
    width: 100%;
    padding: 0;
    font-size: max(min(2vw, 32px), 16px);
    text-align: center;
    color: #caf;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

#navigation-menu>div>a:hover {
    font-size: max(min(2.5vw, 40px), 20px);
    color: #f3f;
    transition: 0.1s ease-in-out;
}

/* #region dropdown-menu */
.dropdown-menu{
    visibility: hidden;
    position: absolute;
    top: 100%;
    background: #000;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 99;
}

.dropdown-menu>li>a{
    font-size: max(min(2vw, 32px), 16px);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #caf;
    transition: color 0.25s ease;
    text-decoration: none;
    padding: 0 max(min(2vw, 32px), 16px);
}

.dropdown-menu>li:hover>a{
    color: #f3f;
    transition: color 0.25s ease;
}

.dropdown-menu>li{
    background-color: #222;
    margin: 0;
}

.dropdown-menu>li:hover{
    background-color: #000051;
}

.dropdown:hover .dropdown-menu{
    visibility: visible;
}
/* #endregion */

#intro,
#screenshots,
#my-contributions,
#group,
#contact {
    display: grid;
    justify-content: center;
    border-radius: min(4vw, 64px);
    padding: min(1vw, 16px) 2vw min(2vw, 32px);
    margin: 96px 3.5vw 192px;
    background-color: rgba(0, 0, 0, 0.8);
}


/*intro starts here*/
#intro>div {
    background-color: rgba(204, 51, 255, 0.2);
    border-radius: min(4vw, 128px);
    padding: min(4vw, 128px);
    gap: 0.5em;
    justify-self: center;
    width: 80%;
    display: grid;
    grid-template: auto/40% auto;
    margin-bottom: 32px;
}

#intro>div>p {
    padding: 1em;
}

#title {
    text-align: center;
}

#cover {
    grid-row: 1/5;
    background-color: rgba(204, 51, 255, 0.025);
    transition: background-color 0.2s ease-in-out;
}

#cover:hover{
    background-color: rgba(255, 51, 255, 0.05);
}

#cover>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#button-container{
    display: flex;
    justify-content: center;
    width: 90%;
}

#button-container>a{
    background-color: rgba(204, 51, 255, 0.2);
    color:#fff;
    text-decoration: none;
    padding: 0.5em;
    transition: background-color 0.2s ease-in-out;
}

#button-container>a:hover{
    background-color: rgba(255, 51, 255, 0.3);
}

#build {
    justify-self: center;
    width: 90%;
    aspect-ratio: 16/9;
    border: none;
}

#project-to-me,#build {
    grid-column: 1/3;
}

#project-to-me:hover {
    background-color: rgba(255, 51, 255, 0.05);
}

#project-to-me>button:hover>h3{
    color:#f3f;
}

.triangle {
    display: inline-block;
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 0.55em solid transparent;
    border-right: 0.55em solid transparent;
    border-top: 0.66em solid cyan;
    transition: transform 0.3s ease;
    transform: rotate(-180deg);    
}

button:hover>.triangle{
    border-top: 0.66em solid #f3f;
}

.show .triangle{
    transform: rotate(0deg);    
}

.toggle-content {
  display: none;
}

.show .toggle-content{
  display: block;
}


/* #region my-contributions */
#my-contributions>div.section {
    background-color: rgba(204, 51, 255, 0.125);
    border-radius: min(4vw, 128px);
    justify-self: center;
    max-width: 90%;
    display: flex;
    gap: min(2vw, 64px);
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px 0px 64px;
    padding-top: min(2vw, 64px);
    transition: background-color 0.2s ease-in-out;
}

#my-contributions>div.section:hover {
    background-color: rgba(255, 51, 255, 0.2);
}

#my-contributions>div.section>ul {
    flex-basis: 80%;
}

#my-contributions>div.section>h2 {
    text-align: center;
    flex-basis: 80%;
}

#my-contributions>div.section>div {
    padding: 16px;
    text-align: center;
}

#my-contributions>div.section>div>img,
#my-contributions>div.section>div>video {
    width: min(600px, 35vw);
    max-height: min(600px, 35vw);
    object-fit: contain;
    object-position: center bottom;
    transition: transform 0.25s ease;
}
/* 
#my-contributions>div.section>div>img:hover{
    transform: scale(1.2);
} */
/* #endregion */

/* #region group */
#group {
    margin-bottom: 128px;
}

#group>div {
    padding: 0.5em 0.5em 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

#group>div>div.member,
.table-header {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.table-header>h2 {
    margin-bottom: 0px;
    text-align: center;
    font-size: max(min(2vw, 32px), 16px);;
}

#group>div>div.member>p {
    padding: 0.2em 0.5em;
    background-color: rgba(204, 51, 255, 0.2);
    transition: background-color 0.2s ease-in-out;
}

#group>div>div.member:hover>p {
    background-color: rgba(255, 51, 255, 0.3);
}
/* #endregion */

#contact{
    border-radius: min(4vw, 64px) min(4vw, 64px) 0px 0px;
    margin-bottom: 0%;
    padding-bottom: min(4vw, 64px);
}

#contact>div{
    margin-top: min(2vw, 32px);
    display: flex;
    justify-content: center;
    gap: min(4vw, 64px);
}

#contact>div>a{
    background-color: rgba(204, 51, 255, 0.2);
    padding: min(1vw, 16px) min(1vw, 16px) min(0.5vw, 8px);
    border-radius: min(1vw, 16px);
    transition: background-color 0.2s ease-in-out;
}

#contact>div>a:hover{
    background-color: rgba(255, 51, 255, 0.3);
}

#contact>div>a>img{
    height: min(4vw, 64px);
    object-fit: contain;
    object-position: center;
}

@media (max-aspect-ratio: 1/1) {
    #intro>div {
        grid-template-columns: auto;
    }

    #cover {
        grid-row: auto;
    }

    #project-to-me {
        grid-column: auto;
    }
}